<div class="footer-container">
  <div class="social-buttons">
    <a href="" class="glc"><img src="/assets/images/instagram.png" alt=""></a>
    <a href="https://www.facebook.com/transmodernitythefilm/" class="wst"><img src="/assets/images/facebook.png" alt=""></a>
    <a href="https://www.facebook.com/transmodernitythefilm/" class="dsrt"><img src="/assets/images/vimeo.png" alt=""></a>
  </div>
  <div class="imprint-container">
    <a href="/imprint" class="mdw">Imprint</a>
    <p class="glc">//</p>
    <p class="flwr">2020 © TRANSMODERNITY. All Rights Reserved.</p>
  </div>
</div>
