<div class="footer-container">
  <div class="social-buttons">
    <a href="https://www.instagram.com/transmodernity/" class="glc"><img src="/assets/images/instagram.png" alt="Instagram Icon"></a>
    <a href="https://www.facebook.com/transmodernity.org" class="wst"><img src="/assets/images/facebook.png" alt="Facebook Icon"></a>
    <a href="https://vimeo.com/ondemand/transmodernity" class="dsrt"><img src="/assets/images/vimeo.png" alt="Vimeo Icon"></a>
  </div>
  <div class="contact">
    <a href="http://www.luladahringer.com/" target="_blank" rel="noopener noreferrer" class="frst no-underline">Lula Dahringer</a>
    <p class="big">&</p>
    <a href="https://www.haleaisabellekala.com/" target="_blank" rel="noopener noreferrer" class="mdw no-underline">Halea Isabelle Kala</a>
  </div>
  <div class="imprint-container">
    <a href="/imprint" class="mdw">Imprint <span class="glc">//</span></a>
    <p class="flwr copyright"><span id="year"></span> © TRANSMODERNITY. <span class="line-break"></span> All Rights Reserved.</p>
  </div>
</div>
