<form method="POST" target="_blank">
  <h2>Contact Us</h2>
  <input type="email" name="email" placeholder="enter your email" required>
  <input type="text" name="name" placeholder="enter your name" required>
  <textarea name="message" cols="30" rows="10"></textarea>
  <button>Submit</button>
</form>
