<div class="header-container">
  {% include '_transmodernity.njk' %}
  <div class="contact">
    <a href="http://www.luladahringer.com/" target="_blank" rel="noopener noreferrer" class="frst no-underline" style="font-style: italic;">Lula Dahringer</a>
    <p class="big">&</p>
    <a href="https://www.haleaisabellekala.com/" target="_blank" rel="noopener noreferrer" class="mdw no-underline">Halea Isabelle Kala</a>
  </div>
</div>
