<div class="card">
  <div class="image" style="background-image: url({{ person.image }})">
    <p class="floating-title hidden {% if person.name %}{{ person.name }}{% endif %}">{{ person.role }}</p>
  </div>
  <div class="floating-title">
    <a href="{{ person.url }}" rel="noopener noreferrer" target="_blank">{{ person.name }}</a>
  </div>
</div>




