<div class="card">
  <div class="image" style="background-image: url({{ protagonist.image }})">
    <p class="floating-title hidden">{{ protagonist.role }}</p>
  </div>
  <div class="floating-title">
    <a href="{{ protagonist.url }}" rel="noopener noreferrer" target="_blank">{{ protagonist.name }}</a>
  </div>
</div>




