<div class="main-content {% if cssClass %}{{ cssClass }}{% endif %}" {% if tags %} id="{{tags[0]}}"{% endif %}>
 {{ content | safe }}
 {% if contactForm %}
  {% include '_form.njk' %}
 {% endif%}
</div>
