<nav aria-label="Main Navigation">
  <ul class="main-nav">
    <li class="has-submenu nav-button nav-button" id="film">film
      <ul class="submenu">
        {% for entry in collections.film %}
          <li {% if entry.url == page.url %} class="current" {%endif%}><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></li>
        {% endfor %}
        <li><a href="https://vimeo.com/ondemand/transmodernity/408968792" target="_blank" rel="noopener noreferrer">Watch &nearr;</a></li>
      </ul>
    </li>
    <li class="has-submenu nav-button italic" id="movement">movement
      <ul class="submenu non-italic">
        {% for entry in collections.movement %}
          <li {% if entry.url == page.url %} class="current" {%endif%}><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="has-submenu nav-button" id="creators">creators
      <ul class="submenu">
        {% for entry in collections.creators %}
          <li {% if entry.url == page.url %} class="current" {%endif%}><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="nav-button italic" id="connect"><a href="/connect">connect</a></li>
  </ul>
</nav>
