<h1><a href="/" class="home"><span class="an-soul">T</span><span class="frst">R</span><span class="flwr">A</span><span class="wst">N</span><span class="an-soul">S</span><span class="frst">M</span><span class="glc">O</span><span class="dsrt">D</span><span class="mdw">E</span><span class="dsrt">R</span><span class="flwr">N</span><span class="glc">I</span><span class="an-soul">T</span><span class="mdw">Y</span></a></h1>
