<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "../_head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    <header>
      {% include "../_header.njk" %}
    </header>
    <div class="flex-container">
      <nav>
        {% include "../_nav.njk" %}
      </nav>
      <main>
        {% block main %}
          {% include '_main.njk' %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
