<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "../_head.njk" %}
  </head>
  <body
    style="background-image: url('/assets/images/{% if bgImage %}{{ bgImage }}{% endif %}.jpg');">
    <header>
      {% include "../_header.njk" %}
    </header>
    <div class="flex-container">
      {% include "../_nav.njk" %}
      <main>
        {% block main %}
          {% include '_main.njk' %}
        {% endblock %}
      </main>
    </div>
    <footer>
      {% include "../_footer.njk" %}
    </footer>
  </body>
</html>
