{% extends './default.njk' %}

{% block main %}
<div class="insta-container">
  <div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'Qox1pwlC_D6ZK5JjI7oB'});Pixlee.addSimpleWidget({widgetId:'28658'});};</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
</div>
{% endblock %}
