{% extends './default.njk' %}

{% block main %}
<div class="insta-container">
  <div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'Bfasy9dvM_cV7h8jl_9j'});Pixlee.addSimpleWidget({widgetId:'28661'});};</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
</div>
{% endblock %}
