<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "../_head.njk" %}
  </head>
  <body
    style="background-image: url('/assets/images/{% if bgImage %}{{ bgImage }}{% endif %}.jpg');">
    <div class="intro-container">
      <h1><span class="an-soul">T</span><span class="frst">R</span><span class="flwr">A</span><span class="wst">N</span><span class="an-soul">S</span>
        <br><span class="frst">M</span><span class="glc">O</span><span class="dsrt">D</span><span class="mdw">E</span><span class="dsrt">R</span><span class="flwr">N</span><span class="glc">I</span><span class="an-soul">T</span><span class="mdw">Y</span></h1>
      <p>{{ description }}</p>
      <div class="button-container">
        <a href="/" class="mtn intro-btn">Enter</a>
      </div>
    </div>
  </body>
</html>
