@import 'breakpoints';

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100ch;
  z-index: 0;
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 235px;
    width: 225px;
    margin-bottom: 2rem;
    .image {
      width: 100%;
      height: 20ch;
      background-size: cover;
      background-position: center;
      position: relative;
      &:hover {
        .hidden {
          display: block;
          z-index: 5;
        }
      }
    }
  }
  .floating-title {
    max-width: 20ch;
    background: white;
    border: 1px solid black;
    padding: 4px 12px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    a {
      color: black;
    }
    &.hidden {
      display: none;
      width: 100%;
    }
  }
  .maker-social {
    img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .socials {
    margin-top: 1rem;
  }
}

#makers {
  .card {
    height: auto;
    width: 45%;
    .image {
      height: 35vh;
    }
  }
  .hidden {
    position: absolute;
    max-width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
  }
}

#protagonists {
  .hidden {
    position: absolute;
    bottom: 20px;
    right: -10px;
    z-index: 5;
  }
}
