@import 'breakpoints';
.film-container {
  width: 100%;
  max-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  #film {
    padding: 50.25% 0 0 0;
    position: relative;
  }
}


