@font-face {
  font-family: "AirLand";
  src: url("/assets/fonts/GlyphWorld-AirLand.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "AnimalSoul";
  src: url("/assets/fonts/GlyphWorld-AnimalSoul.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Desert";
  src: url("/assets/fonts/GlyphWorld-Desert.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Flower";
  src: url("/assets/fonts/GlyphWorld-Flower.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Forest";
  src: url("/assets/fonts/GlyphWorld-Forest.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Glacier";
  src: url("/assets/fonts/GlyphWorld-Glacier.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Meadow";
  src: url("/assets/fonts/GlyphWorld-Meadow.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Mountain";
  src: url("/assets/fonts/GlyphWorld-Mountain.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "WasteLand";
  src: url("/assets/fonts/GlyphWorld-WasteLand.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

.wst {
  font-family: WasteLand;
} .mtn {
  font-family: Mountain;
} .mdw {
  font-family: Meadow;
} .glc {
  font-family: Glacier;
} .frst {
  font-family: Forest;
} .flwr {
  font-family: Flower;
} .dsrt {
  font-family: Desert;
} .an-soul {
  font-family: AnimalSoul;
} .air-land {
  font-family: AirLand;
}
