.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  height: 80px;
  a, p {
    margin: 0;
    font-size: .8rem;
    text-decoration: none;
  }
  .social-buttons {
    a {
      img {
        width: 2rem;
        height: 2rem;
        padding: 0 1rem;
      }
    }
  }
  .imprint-container {
    display: flex;
    justify-content: space-between;
  }
}
