@import 'breakpoints';
header {
  flex: 0;
  @include respond-to('large') {
    flex: 1 100%;
  }
}

.header-container {
  min-height: 160px;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .home {
    text-decoration: none;
    color: black;
    font-size: 6vw;
    letter-spacing: 10px;
    .line-break::before {
      content: "\A";
      white-space: pre;
      @include respond-to('large') {
        content: "";
      }
    }

  }
  .contact {
    text-align: center;
    display: none;
    a {
      font-size: 1vw;
    }
    p {
      margin: 0;
      font-size: 4vh;
    }
    @include respond-to('large') {
      display: block;
    }
  }
}
