.intro-container {
  padding: 1rem 2rem;
  h1 {
    font-size: 10rem;
    letter-spacing: -25px;
    margin: 0;
    word-break: break-word;
  }
  p {
    margin: 0;
    font-size: 2rem;
    font-style: italic;
  }
}
