@import 'breakpoints';
$hotpink: #FF00FF;
$neongreen: #54FB4B;
nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  @include respond-to('large') {
    min-width: 330px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: transparent;
  }
}

.main-nav {
    background: white;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: -1;
    justify-content: space-evenly;
    padding-top: 3rem;
    display: none;
  @include respond-to('large') {
    margin: 0;
    width: 100%;
    flex: 1 100%;
    height: 60vh;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
    visibility: visible;
    padding-top: 0;
  }
  a {
    text-decoration: none;
  }
  .nav-button {
    font-style: italic;
    color: black;
    background-color: transparent;
    padding: .75rem 2rem;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 3px;
    &.active {
      background: $hotpink;
      &:hover {
        background: $hotpink;
      }
    }
    &:hover {
      background: $neongreen;
      .submenu {
        display: block;
      }
    }
  }
  .has-submenu {
    position: relative;
    text-align: center;
  }
  .submenu {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    text-decoration: none;
    background: white;
    &:hover,
    &:focus {
      background-color: $hotpink;
    }
    a {
        font-size: .8rem;
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size: .8rem;
        font-style: normal;
        &:hover {
          text-decoration: underline;
        }
      }
    @include respond-to('large') {
      list-style: none;
      text-align: left;
      display: none;
      background: white;
      border: 1px solid black;
      border-radius: 0;
      padding: .5rem 1rem;
      position: absolute;
      z-index: 100;
      min-width: 100px;
      & > * {
        margin-bottom: .2rem;
      }
      &:hover,
      &:focus {
        background-color: white;
      }
      .current {
        text-decoration: underline;
      }

    }
  }
  #film {
    width: 50%;
    @include respond-to('large') {
      width: auto;
    }
    .submenu {
      top: -34px;
      right: -160px;
    }
  }
  #movement {
    width: 65%;
    align-self: flex-end;
    margin-right: 8px;
    @include respond-to('large') {
      width: auto;
      align-self: initial;
      margin-right: 0px;
    }
    .submenu {
      top: -40px;
      right: -160px;
    }
  }
  #creators {
    width: 40%;
    @include respond-to('large') {
      width: auto;
    }
    .submenu {
      top: -15px;
      right: -120px;
    }
  }
  #connect {
    width: 23%;
    text-align: center;
    margin-right: 5rem;
    align-self: flex-end;
      a { text-decoration: none; }
    @include respond-to('large') {
      width: auto;
      align-self: initial;
    }
  }
}

// mobile menu
.nav-toggle {
  display: block;
  margin-top: 1.5rem;
  margin-right: 1rem;
  z-index: 10;
  @include respond-to('large') {
    display: none;
  }
  .nav-toggle-bar {
    font-style: italic;
    color: black;
    background-color: transparent;
    padding: .75rem 1.5rem;
    font-size: 2.5vh;
    border: 1px solid black;
    border-radius: 50%;
    width: 12vw;
    float: right;
    cursor: pointer;
    text-align: center;
    &:focus {
      background: $neongreen;
    }
    &:hover {
      background: $neongreen;
    }
  }
}

.mobile-nav {
  background: white;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: -1;
  justify-content: space-evenly;
  padding-top: 3rem;
  visibility: hidden;
  #film {
    width: 50%;
  }
  #movement {
    width: 65%;
    align-self: flex-end;
    margin-right: 8px;
  }
  #creators { width: 40%; }
  #connect {
    width: 50%;
    align-self: center;
      a { text-decoration: none; }
  }
  .has-submenu, #connect {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    text-decoration: none;
    background: white;
    &:hover,
    &:focus {
      background-color: $hotpink;
    }
  }
  .nav-button {
    font-style: italic;
    color: black;
    background-color: white;
    padding: .75rem 2rem;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 3px;
  }
}

.visible {
  display: flex;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}



.italic-20 {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
}
.non-italic-20 {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
}
.italic-10 {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
}
.non-italic-10 {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
}
