nav {
  width: 30ch;
  position: sticky;
  top: 0;
}

.nav {
  margin: 0;
  height: 60vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
  .has-submenu {
    position: relative;
  }
  .submenu {
    list-style: none;
    display: none;
    background: white;
    border: 1px solid black;
    padding: 1rem;
    position: absolute;
    z-index: 100;
    min-width: 100px;
    a {
      font-size: .8rem;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #film .submenu {
    top: -40px;
    right: -150px;
  }
  #movement .submenu {
    top: -40px;
    right: -160px;
  }
  #creators .submenu {
    top: -20px;
    right: -120px;
  }
  .nav-button {
    font-style: italic;
    color: black;
    background-color: transparent;
    padding: .75rem 2rem;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 50%;
    &:hover {
      background: white;
      .submenu {
        display: block;
      }
    }
  }

}
