@import 'breakpoints';
$hotpink: #FF00FF;
$neongreen: #54FB4B;
nav {
  position: absolute;
  top: 0;
  right: 0;
  @include respond-to('large') {
    min-width: 325px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: transparent;
    border: none;
  }
  &.mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
  }
}

.nav-toggle {
  display: block;
  width: 135px;
  float: right;
  padding: 1rem;
  text-align: center;
  @include respond-to('large') {
    display: none;
  }
  .nav-toggle-bar {
    font-style: italic;
    color: black;
    background-color: transparent;
    padding: .75rem 2rem;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.main-nav {
  margin: 0;
  width: 100%;
  flex: 1 100%;
  height: 70vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  display: none;
  @include respond-to('large') {
    margin: 0;
    width: 100%;
    flex: 1 100%;
    height: 60vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
  }
  &.flex {
    display: flex;
  }
  a {
    text-decoration: none;
  }
  .nav-button {
    font-style: italic;
    color: black;
    background-color: transparent;
    margin-left: 2rem;
    display: inline-block;
    @include respond-to('large') {
      padding: .75rem 2rem;
      font-size: 3vh;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 3px;
    }
    &.active {
      color: $hotpink;
      @include respond-to('large') {
        background: $hotpink;
        color: black;
      }
    }
    &:hover {
      @include respond-to('large') {
        background: $neongreen;
      }
      .submenu {
        display: block;
      }
    }
    &#movement {
      margin-left: 3rem;
      @include respond-to('large') { margin: 0; }
      .submenu {
        margin-left: -1rem;
        @include respond-to('large') { margin: 0; }
      }
    }
  }
  .has-submenu {
    position: relative;
  }
  .submenu {
    list-style: none;
    border: 1px solid black;
    padding: .5rem 1rem;
    @include respond-to('large') {
      display: none;
      background: white;
      position: absolute;
      z-index: 100;
      min-width: 100px;
      & > * {
        margin-bottom: .2rem;
      }
    }
    .current {
      text-decoration: underline;
    }
    a {
      font-size: .8rem;
      text-decoration: none;
      color: black;
      font-weight: 300;
      font-size: .8rem;
      font-style: normal;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #film .submenu {
    top: -34px;
    right: -160px;
  }
  #movement .submenu {
    top: -40px;
    right: -160px;
  }
  #creators .submenu {
    top: -15px;
    right: -120px;
  }


}

.italic {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
}
.non-italic {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-30deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-30deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-30deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-30deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
}
