@import 'fonts';
@import 'nav';
@import 'card';
@import 'intro';
@import 'footer';
@import 'header';
@import 'film';
@import 'breakpoints';

// Global styles
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  width: 100%;
  font-family: AirLand, Arial, sans-serif;
  margin: 0;
  -webkit-text-size-adjust: none;
  @include respond-to('large') {
    -webkit-text-size-adjust: inherit;
  }
}

main {
  max-width: 100ch;
  display: flex;
  flex: 1 0px;
  justify-content: flex-end;
  align-items: flex-start;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

h3,h4,h5,h6 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  margin: .75rem 0;
  text-transform: uppercase;
}

a {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, li {
  font-family: AirLand;
  font-size: .8rem;
  // margin: 0;
}

.big {
  font-size: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin: 0 2rem;
  padding-top: 10px;
  @include respond-to('large') {
    height: calc(100vh - 240px);
  }
}

.main-content {
  background: white;
  border: 1px solid black;
  overflow: visible;
  padding: 2rem 2rem;
  flex: 1;
  @include respond-to('large') {
    max-width: 90ch;
  }
  &.Supporters {
    text-align: center;
    p {
      width: 80%;
      margin: 0 auto;
    }
  }
}
