@import 'fonts';
@import 'nav';
@import 'card';
@import 'intro';
@import 'footer';
@import 'header';
@import 'film';

html,
body {
  height: 100%;
  margin: 0;
  font-family: AirLand, Arial, sans-serif;
}

body {
  background-color: white;
  background-image: url("/assets/images/TM3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h2,h3,h4,h5,h6 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: .75rem 0;
  text-transform: uppercase;
  text-decoration: underline;
}

a {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, li {
  font-family: AirLand;
  font-size: .8rem;
}

.big {
  font-size: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 240px);
  overflow: scroll;
  margin: 0 2rem;
  padding-top: 10px;
}

.main-content {
  background: white;
  border: 1px solid black;
  max-width: 90ch;
  height: 60vh;
  overflow: scroll;
  padding: 1rem 2rem;
  &.Screenings {
    width: 90ch;
  }
}

@media only screen and (max-width : 340px) {
  .contact {
    display: none;
  }
}
